{:paths ["src"]
 :deps {reagent/reagent #:mvn{:version "1.0.0"}
        com.andrewmcveigh/cljs-time #:mvn{:version "0.5.2"}
        thheller/shadow-cljs #:mvn{:version "2.11.7"}}
 :aliases {:dev {:extra-deps
                 {binaryage/devtools #:mvn{:version "1.0.2"}
                  djblue/portal      #:mvn{:version "0.7.0"}
                  nrepl/nrepl #:mvn{:version "0.8.3"}}}}}
