{:deps {:aliases [:dev]}
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:main {:entries [seven-guis.core]}}
                      :devtools   {:after-load seven-guis.core/mount-root
                                   :preloads [shadow.remote.runtime.cljs.browser]}}}

 :dev-http     {3000 "public"}}
